/* App.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px; /* Отступы внутри контейнера заголовков */
    border: 1px solid #ccc; /* Обрамление */
    border-radius: 8px; /* Закругленные углы */
    background-color: #f0f0f0; /* Цвет фона для контейнера заголовков */
}

.panels {
    display: flex;
    width: 100%;
}

.panel {
    border: 1px solid #ccc; /* Обрамление */
    border-radius: 8px; /* Закругленные углы */
    padding: 20px; /* Отступы внутри панели */
    margin: 10px; /* Отступы между панелями */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
    background-color: #f9f9f9; /* Цвет фона */
}

.panel h3 {
    margin-top: 0; /* Убираем верхний отступ у заголовка */
}